    <h1>All stylists have been deleted.</h1>

    <h2><a href='/stylists/new'>Add a new Stylist</a></h2>
    <h2><a href='/stylists'>Back to stylist list</a></h2>
    <h2><a href="/">Back to Home page</a></h2>
