<h1>Add a new specialty</h1>

<form action='/specialties' method='post'>
    <label for='specialtyName'>Specialty name</label>
    <input id='specialtyName' name='specialtyName' type='text'>
    <button type='submit'>Add specialty</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/specialties">View all specialties</a></p>