<h1>Are you sure you want to delete @Model["client"].GetName()?</h1>

<form action='/stylists/@Model["stylist"].GetId()/clients/@Model["client"].GetId()/deleted' method='post'>
    <button type='submit'>YES</button>
</form>
<form action='/stylists/@Model["stylist"].GetId()'>
    <button type='submit'>NO</button>
</form>